# Created by .ignore support plugin (hsz.mobi)
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-debug/
.idea/**/mongoSettings.xml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule
*.sage.py
.env
.venv
env/
venv/
ENV/
.spyderproject
.spyproject
.ropeproject
/site
.mypy_cache/
.idea
*.iml
out
gen### macOS template
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.ninja_deps
.ninja_log
migrations/
static/img/
staticfiles/js/
staticfiles/admin/img/LICENSE
staticfiles/admin/img/LICENSE.2c54f4e1ca1c
staticfiles/admin/img/LICENSE.2c54f4e1ca1c.gz
staticfiles/admin/img/LICENSE.gz
staticfiles/admin/img/README.837277fa1908.txt
staticfiles/admin/img/README.837277fa1908.txt.gz
staticfiles/admin/img/README.txt
staticfiles/admin/img/README.txt.gz
staticfiles/admin/img/gis/
staticfiles/admin/img/icon-no.439e821418cd.svg.gz
staticfiles/admin/img/icon-no.svg
staticfiles/admin/img/icon-no.svg.gz
staticfiles/admin/img/icon-unknown-alt.81536e128bb6.svg
staticfiles/admin/img/icon-unknown-alt.81536e128bb6.svg.gz
staticfiles/admin/img/icon-unknown-alt.svg
staticfiles/admin/img/icon-unknown-alt.svg.gz
staticfiles/admin/img/icon-unknown.a18cb4398978.svg
staticfiles/admin/img/icon-unknown.a18cb4398978.svg.gz
staticfiles/admin/img/icon-unknown.svg
staticfiles/admin/img/icon-unknown.svg.gz
staticfiles/admin/img/icon-yes.d2f9f035226a.svg
staticfiles/admin/img/icon-yes.d2f9f035226a.svg.gz
staticfiles/admin/img/icon-yes.svg
staticfiles/admin/img/icon-yes.svg.gz
staticfiles/admin/img/inline-delete.fec1b761f254.svg
staticfiles/admin/img/inline-delete.fec1b761f254.svg.gz
staticfiles/admin/img/inline-delete.svg
staticfiles/admin/img/inline-delete.svg.gz
staticfiles/admin/img/search.7cf54ff789c6.svg
staticfiles/admin/img/search.7cf54ff789c6.svg.gz
staticfiles/admin/img/search.svg
staticfiles/admin/img/search.svg.gz
staticfiles/admin/img/selector-icons.b4555096cea2.svg
staticfiles/admin/img/selector-icons.b4555096cea2.svg.gz
staticfiles/admin/img/selector-icons.svg
staticfiles/admin/img/selector-icons.svg.gz
staticfiles/admin/img/sorting-icons.3a097b59f104.svg
staticfiles/admin/img/sorting-icons.3a097b59f104.svg.gz
staticfiles/admin/img/sorting-icons.svg
staticfiles/admin/img/sorting-icons.svg.gz
staticfiles/admin/img/tooltag-add.e59d620a9742.svg
staticfiles/admin/img/tooltag-add.e59d620a9742.svg.gz
staticfiles/admin/img/tooltag-add.svg
staticfiles/admin/img/tooltag-add.svg.gz
staticfiles/admin/img/tooltag-arrowright.bbfb788a849e.svg
staticfiles/admin/img/tooltag-arrowright.bbfb788a849e.svg.gz
staticfiles/admin/img/tooltag-arrowright.svg
staticfiles/admin/img/tooltag-arrowright.svg.gz
staticfiles/admin/js/
staticfiles/css/
staticfiles/img/
static/
templates/blog/base.html
templates/blog/post_detail.html
